In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
College_Data = pd.read_csv("../data_raw/colleges/colleges.csv")
Death_Data = pd.read_csv("../data_raw/excess-deaths/deaths.csv")
Mask_Data = pd.read_csv("../data_raw/mask-use/mask-use-by-county.csv")
Prison_Data= pd.read_csv("../data_raw/prisons/facilities.csv")
County20_Data = pd.read_csv("../data_raw/us-counties-2020.csv")
County21_Data = pd.read_csv("../data_raw/us-counties-2021.csv")
County22_Data = pd.read_csv("../data_raw/us-counties-2022.csv")
US_Data = pd.read_csv("../data_raw/us.csv")

In [4]:
College_Data.set_index(["state","county"],inplace=True)
Death_Data.set_index(["country"],inplace=True)
Mask_Data.set_index("COUNTYFP",inplace=True)
Prison_Data.set_index(["facility_state","facility_county"],inplace = True)
County_Data = ((County20_Data.append(County21_Data)).append(County22_Data)).set_index(["date","state","county"])
US_Data.set_index("date",inplace=True)

In [5]:
College_Data.drop(["ipeds_id","notes"],axis=1,inplace=True)
College_Data

                            date          city  \
state     county
Alabama   Madison     2021-05-26    Huntsville
          Montgomery  2021-05-26    Montgomery
          Limestone   2021-05-26        Athens
          Lee         2021-05-26        Auburn
          Montgomery  2021-05-26    Montgomery
...                          ...           ...
Wisconsin Milwaukee   2021-05-26     Milwaukee
Wyoming   Natrona     2021-05-26        Casper
          Goshen      2021-05-26    Torrington
          Albany      2021-05-26       Laramie
          Sweetwater  2021-05-26  Rock Springs

                                                college  cases  cases_2021
state     county
Alabama   Madison                Alabama A&M University     41         NaN
          Montgomery           Alabama State University      2         NaN
          Limestone             Athens State University     45        10.0
          Lee                         Auburn University   2742       567.0
          Montgomery    Auburn University at Montgomery    220        80.0
...                                                 ...    ...         ...
Wisconsin Milwaukee          Wisconsin Lutheran College    143        23.0
Wyoming   Natrona                        Casper College    376        46.0
          Goshen                Eastern Wyoming College     17         5.0
          Albany                  University of Wyoming   2087       292.0
          Sweetwater  Western Wyoming Community College     68         3.0

[1948 rows x 5 columns]

In [6]:
Death_Data.drop(["placename","frequency","start_date","end_date","baseline"],axis=1,inplace=True)
Death_Data = Death_Data.loc["United States"]
Death_Data = Death_Data.loc[Death_Data['year'] != "2017-2019 average"]
Death_Data

               year  month  week  deaths  expected_deaths  excess_deaths
country
United States  2020      1   2.0   60710          60757.0          -47.0
United States  2020      1   3.0   59360          60179.0         -819.0
United States  2020      1   4.0   59140          60064.0         -924.0
United States  2020      2   5.0   58800          60821.0        -2021.0
United States  2020      2   6.0   59380          60545.0        -1165.0
United States  2020      2   7.0   58789          60206.0        -1417.0
United States  2020      2   8.0   58877          59837.0         -960.0
United States  2020      3   9.0   59273          59440.0         -167.0
United States  2020      3  10.0   59637          59014.0          623.0
United States  2020      3  11.0   58636          58558.0           78.0
United States  2020      3  12.0   59191          58069.0         1122.0
United States  2020      3  13.0   62971          57547.0         5424.0
United States  2020      4  14.0   72276          56999.0        15277.0
United States  2020      4  15.0   79058          56441.0        22617.0
United States  2020      4  16.0   76757          55891.0        20866.0
United States  2020      4  17.0   73850          55366.0        18484.0
United States  2020      5  18.0   69268          54884.0        14384.0
United States  2020      5  19.0   66764          54459.0        12305.0
United States  2020      5  20.0   64437          54097.0        10340.0
United States  2020      5  21.0   61562          53791.0         7771.0
United States  2020      5  22.0   59614          53538.0         6076.0
United States  2020      6  23.0   58839          53333.0         5506.0
United States  2020      6  24.0   57965          53170.0         4795.0
United States  2020      6  25.0   57915          53045.0         4870.0
United States  2020      6  26.0   58419          52947.0         5472.0
United States  2020      7  27.0   59763          52865.0         6898.0
United States  2020      7  28.0   61837          52788.0         9049.0
United States  2020      7  29.0   63417          52705.0        10712.0
United States  2020      7  30.0   64488          52604.0        11884.0
United States  2020      8  31.0   64479          52482.0        11997.0
United States  2020      8  32.0   63939          52364.0        11575.0
United States  2020      8  33.0   63864          52276.0        11588.0
United States  2020      8  34.0   62700          52246.0        10454.0
United States  2020      8  35.0   61153          52300.0         8853.0
United States  2020      9  36.0   60050          52467.0         7583.0
United States  2020      9  37.0   59227          52747.0         6480.0
United States  2020      9  38.0   59242          53100.0         6142.0
United States  2020      9  39.0   59897          53484.0         6413.0
United States  2020     10  40.0   58652          53858.0         4794.0
United States  2020     10  41.0   60277          54178.0         6099.0
United States  2020     10  42.0   58769          54406.0         4363.0
United States  2020     10  43.0   60204          54559.0         5645.0
United States  2020     11  44.0   61241          54703.0         6538.0
United States  2020     11  45.0   64881          54902.0         9979.0
United States  2020     11  46.0   66378          55223.0        11155.0
United States  2020     11  47.0   68877          55732.0        13145.0
United States  2020     11  48.0   69441          56481.0        12960.0
United States  2020     12  49.0   71642          57420.0        14222.0
United States  2020     12  50.0   72561          58449.0        14112.0
United States  2020     12  51.0   65948          59473.0         6475.0

In [7]:
Mask_Data

          NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
COUNTYFP
1001      0.053   0.074      0.134       0.295   0.444
1003      0.083   0.059      0.098       0.323   0.436
1005      0.067   0.121      0.120       0.201   0.491
1007      0.020   0.034      0.096       0.278   0.572
1009      0.053   0.114      0.180       0.194   0.459
...         ...     ...        ...         ...     ...
56037     0.061   0.295      0.230       0.146   0.268
56039     0.095   0.157      0.160       0.247   0.340
56041     0.098   0.278      0.154       0.207   0.264
56043     0.204   0.155      0.069       0.285   0.287
56045     0.142   0.129      0.148       0.207   0.374

[3142 rows x 5 columns]

In [8]:
Prison_Data.drop(["facility_county_fips","facility_city","facility_lng","facility_lat","note"],axis=1,inplace=True)
Prison_Data

                                  nyt_id  \
facility_state facility_county
Alabama        Coosa            F3EFE858
               Shelby           5B910220
               Bibb             02FB1675
               Jefferson        6378F6C4
               Bullock          EAABF900
...                                  ...
Michigan       Lake             15289545
North Carolina Hertford         1558C2BF
Texas          Reeves           C9CF62B9
               Howard           364869B9
Pennsylvania   Clearfield       5CFB7978

                                                                    facility_name  \
facility_state facility_county
Alabama        Coosa                                Alex City Work Release prison
               Shelby               Alabama Therapeutic Education Facility prison
               Bibb                                    Bibb Correctional Facility
               Jefferson        Birmingham Women's Community Based Facility an...
               Bullock                              Bullock Correctional Facility
...                                                                           ...
Michigan       Lake                                     North Lake federal prison
North Carolina Hertford                                     Rivers federal prison
Texas          Reeves                                Reeves County federal prison
               Howard                                   Flightline federal prison
Pennsylvania   Clearfield                         Moshannon Valley federal prison

                                              facility_type  \
facility_state facility_county
Alabama        Coosa              Low-security work release
               Shelby           State rehabilitation center
               Bibb                            State prison
               Jefferson                       State prison
               Bullock                         State prison
...                                                     ...
Michigan       Lake                          Federal prison
North Carolina Hertford                      Federal prison
Texas          Reeves                        Federal prison
               Howard                        Federal prison
Pennsylvania   Clearfield                    Federal prison

                                latest_inmate_population  \
facility_state facility_county
Alabama        Coosa                               188.0
               Shelby                              272.0
               Bibb                               1725.0
               Jefferson                           192.0
               Bullock                            1477.0
...                                                  ...
Michigan       Lake                               1614.0
North Carolina Hertford                              6.0
Texas          Reeves                             1005.0
               Howard                             1652.0
Pennsylvania   Clearfield                           94.0

                                max_inmate_population_2020  \
facility_state facility_county
Alabama        Coosa                                   NaN
               Shelby                                  NaN
               Bibb                                 1825.0
               Jefferson                               NaN
               Bullock                              1577.0
...                                                    ...
Michigan       Lake                                 1614.0
North Carolina Hertford                             1255.0
Texas          Reeves                                  NaN
               Howard                                  NaN
Pennsylvania   Clearfield                           1774.0

                                total_inmate_cases  total_inmate_deaths  \
facility_state facility_county
Alabama        Coosa                            77                    0
               Shelby                           11                    1
               Bibb                            164                    3
               Jefferson                        17                    0
               Bullock                         162                    5
...                                            ...                  ...
Michigan       Lake                            125                    2
North Carolina Hertford                         68                    1
Texas          Reeves                           46                    1
               Howard                           34                    1
Pennsylvania   Clearfield                      197                    4

                                total_officer_cases  total_officer_deaths
facility_state facility_county
Alabama        Coosa                             17                   0.0
               Shelby                             2                   0.0
               Bibb                              61                   0.0
               Jefferson                         28                   0.0
               Bullock                           80                   1.0
...                                             ...                   ...
Michigan       Lake                               0                   0.0
North Carolina Hertford                           0                   0.0
Texas          Reeves                             0                   0.0
               Howard                             0                   0.0
Pennsylvania   Clearfield                         0                   0.0

[2639 rows x 9 columns]

In [9]:
County_Data.drop("fips",axis=1,inplace=True)
County_Data

                                  cases  deaths
date       state      county
2020-01-21 Washington Snohomish       1     0.0
2020-01-22 Washington Snohomish       1     0.0
2020-01-23 Washington Snohomish       1     0.0
2020-01-24 Illinois   Cook            1     0.0
           Washington Snohomish       1     0.0
...                                 ...     ...
2022-04-11 Wyoming    Sweetwater  11065   124.0
                      Teton        9932    16.0
                      Uinta        5634    39.0
                      Washakie     2357    43.0
                      Weston       1588    18.0

[2398622 rows x 2 columns]

In [10]:
US_Data

               cases  deaths
date
2020-01-21         1       0
2020-01-22         1       0
2020-01-23         1       0
2020-01-24         2       0
2020-01-25         3       0
...              ...     ...
2022-05-03  81440777  993088
2022-05-04  81545992  995021
2022-05-05  81640939  995715
2022-05-06  81735643  996160
2022-05-07  81766001  996256

[838 rows x 2 columns]

In [15]:
College_Data.to_csv("../data_clean/College_Data.csv")
Death_Data.to_csv("../data_clean/Death_Data.csv")
Mask_Data.to_csv("../data_clean/Mask_Data.csv")
Prison_Data.to_csv("../data_clean/Prison_Data.csv")
County_Data.to_csv("../data_clean/County_Data.csv")
US_Data.to_csv("../data_clean/US_data.csv")